<% const page = "Home"; %> 

<!-- Header -->
<%- include('header', {title:page}) -%>

    <!-- Navbar -->
    <%- include('navbar', {selected:page, countryNames:countryNames, user:user, state:state}) -%>

	<!-- First Section -->
    <div class="first-section">
		<div class="row columns">
			
			<!-- Left Column -->
			<div class="col-md-6 left">

				<span id="subtitle">We Produce <b>Engaging Videos</b> Around a Marketing Strategy That <b>Delivers Business Results!</b></span>

				<span id="title">We are <b>VideoExperts</b></span>

				<span>"Working with <b>VideoExperts</b> was an incredible experience from start to finish. What really sticks out to me is how much time and care they took to understand the story I wanted to tell." - <i>Andrew K.</i></span>

			</div>

			<!-- Right Column -->
			<div class="col-md-6 right">
				<img src="img/cinematography.jpg" alt="cinematography">
			</div>
		</div>
    </div>

	<!-- Second Section -->
	<div class="second-section">

		<span>Some of our services:</span>

		<div class="row row-cols-1 row-cols-md-3 g-3">

			<% services.forEach((service) => { %>

				<div class="col">
					<div class="card">
						<img src="img/<%=service.image %>" class="card-img-top" alt="<%=service.name%>" />
						<div class="card-body">
							<h5 class="card-title"><%=service.name%></h5>
							<p 
								class="card-text" 
								style="
									display: -webkit-box;
									-webkit-line-clamp: 4;
									-webkit-box-orient: vertical;
									overflow: hidden;
									text-overflow: ellipsis;
								">
								<%=service.description%>
							</p>
						</div>
					</div>
				</div>

			<% }) %>

		</div>

	</div>

<%- include('footer') -%>

