<% const menu = [{name:"Home", path:"/"}, {name:"About", path:"/about"}, {name:"Services", path:"/services"}] %>

<nav>
    <div class="nav-container">

        <div class="logo">        
            <i class="fas fa-camera-retro"></i>
            <span>VideoExperts</span>
        </div>

        <div class="menu">
            <% menu.forEach((item) => { %>
                <% if (item.name === selected) { %>
                    <a href="<%= item.path %>" class="selected"><%= item.name %></a>
                <% } else { %>
                    <a href="<%= item.path %>"><%= item.name %></a>
                <% } %>
            <% }); %>
        </div>

        <div class="login">
            <a data-mdb-toggle="modal" data-mdb-target="#loginModal">Login</a>
        </div>

        <%- include('modal') -%>
        
    </div>
</nav>