<% let menu = [{name:"Home", path:"/"}, {name:"Services", path:"/services"}] %>
<% if (state == "user") menu.push({name:"My Bookings", path:"/bookings"}) %>

<% if (state == "admin") menu = [{name:"Home", path:"/"}, {name:"Users", path:"/users"}, {name:"Services", path:"/adminservices"}] %>

<nav>
    <div class="nav-container">

        <!-- Logo -->
        <div class="logo">        
            <i class="fas fa-camera-retro"></i>
            <span>VideoExperts</span>
        </div>

        <!-- Menu -->
        <div class="menu">
            <% menu.forEach((item) => { %>
                <% if (item.name === selected) { %>
                    <a href="<%= item.path %>" class="selected"><%= item.name %></a>
                <% } else { %>
                    <a href="<%= item.path %>"><%= item.name %></a>
                <% } %>
            <% }); %>
        </div>
        
        <!-- If the user is not logged in, show the login button -->
        <% if (user === null) { %>

            <div class="login">
                <a data-mdb-toggle="modal" data-mdb-target="#loginModal">Login</a>
            </div>

            <%- include('modal', {countryNames:countryNames}) -%>           

        <!-- If the user is logged in, show the logout button -->
        <% } else { %>

            <div class="login">
                <a href="/logout">Logout</a>
            </div>

        <% } %>
        
    </div>
</nav>